{% extends 'base.html' %}
<!-- content -->
{% block content %}
<div class="offset-1 col-md-7">
    <div class="row">
    {% if pitch %} {%for item in pitch %}---
    <div class="col-md-6">
        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">Categories : {{item.category}}</div>
            <div class="card-body text-success">
              <h5 class="card-title">{{posted_by.username}}</h5>
              <p class="card-text">{{item.text}}</p>
            </div>
            <div class="card-footer bg-transparent border-success">
                <div class="card-footer bg-transparent border-success">
                    <ul class="list-inline d-flex justify-content-between">
                        <li class="list-inline-item">
                            <span> 
                                
                                <a href="/comments/{{item.id}}" class="text-dark">Comments</a> 
                            </span>
                        </li>
                        <li class="list-inline-item">
                            <button>
                                <a href="/" class="text-dark">
                               
                                </a> 
                            </button>
                            <button>
                                <a href="/" class="text-dark">
                                    
                                </a>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
   
    {% endfor %} {% endif %}
</div>
{% endblock %}