{% extends 'base.html' %}

<!-- content -->
{% block content %}
<div class="container-fluid mt-3 ml-3 ml-3">
    <div class="row">
        <!-- CURRENT USER -->
        {% if current_user.is_authenticated%}
        <div class="col-md-6 bg-success ml-0 mb-1 text-center">
            {% if user.avatar %}
            <img class="img-thumbnail mt-3" src="{{url_for('static',filename=user.avatar)}}" alt="profile-image"> {% else %}
            <p>No profile picture</p>
            {% endif %}
            <div class="text p-2">
                <h4 class="text-uppercase">{{user.username}}</h4>
                {% if user.about %}
                <p>{{user.about}}</p>
                {% else %}
                <p>No bio set</p>
                {% endif %}
                <span class="font-italic">{{user.email}}</span>
            </div>
            <div class="buttons">
                <button class="btn btn-outline-secondary alert">
                    <a href="/new_pitch" class="text-dark">Create a pitch</a>
                </button>
                <button class="btn btn-outline-secondary alert">
                    <a class="text-dark" href="{{url_for('main.profile',name=user.username)}}">Edit profile</a>
                </button>
            </div>
        </div>
        {% endif %}

        <!-- ALL PITCHES -->
        <!-- ALL PITCHES -->
        <div class="offset-1 col-xl-10">
            <div class="row ">
                <!-- pitches start here  -->
                {% if pitches %} {% for item in pitches %}
                <div class="col-lg-4">
                    <div class="card border-success mb-3" style="max-width: 45rem;">
                        <div class="card-header bg-transparent border-success">Category: {{item.category}} </div>
                        <div class="card-body text-success">
                          <h5 class="card-title">{{posted_by.username}}</h5>
                          <p class="card-text"> {{item.text}} </p>
                        </div>
                        <div class="card-footer bg-transparent border-success">
                            <ul class="list-inline d-flex justify-content-between">
                                <li class="list-inline-item">
                                    <span> 
                                        
                                        <a href="/comments/{{item.id}}" class="text-dark">Comments</a> 
                                    </span>
                                </li>
                                <li class="list-inline-item">
                                    <button>
                                        <a href="/" class="text-dark">
                                       
                                        </a> 
                                    </button>
                                    <button>
                                        <a href="/" class="text-dark">
                                            
                                        </a>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <br> {% endfor %} {% endif %}
            </div>
        </div>
       
    </div>
</div>
{% endblock %}